/* Button Style */
.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3B82F6;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Button Hover Effect */
  
  
  /* Button Active Effect */
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Button Disabled State */
  .button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  /* for margin */
.margin{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
.field-input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #f3ebeb;

}
.labelStyle{
    color:black;
}

.removebtn{
    text-align: end;

}
.removebutton{
    background-color: rgb(150, 148, 148);
    color: black;
    padding: 3px;
    margin-top: 4px;
    border-radius: 3px;
}


  